body{
    margin: 0;
    background-color: rgb(0, 194, 129);
    font-family: sans-serif;
}
.todo-container{
    width: 350px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

h1{
    margin: 0;
    margin-bottom: 15px;
    color: rgba(4, 235, 4, 0.329);
}

.input-section {
    background-color: rgba(26, 170, 26, 0.664);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000004d;
}


.input-section input{
    border-radius: 5px;
    border: 1px solid rgba(223, 211, 211, 0.829);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(38, 150, 38, 0.664);
    outline: none;
    color: rgba(9, 110, 9, 0.329);
}
input::placeholder{
    color: rgba(9, 110, 9, 0.329);
}
ul{
    
    text-align: left;
    padding: 0%;
}
ul li{
    list-style: none;
    display: flex;
    background-color: rgba(38, 150, 38, 0.664);
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    color: rgba(4, 235, 4, 0.329);
    box-shadow: 0 4px 6px #3a373766;
}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}